.navigation, .game-image img{
  width: 100%;
}
.body{
  gap: 20px;
  margin-top: 5%
}
.body h2{
  padding: 2%;
  min-width: 50px;
  border-radius: 25px;
}
.text, .symbol{
  font-size: 1.5rem;
}
.text{
  padding: 1%;
}
.first-step,.second-step, .third-step{
  width: 20%;
  height: 80px;
}
.route{
  margin:5vh 0 0 20vh;
}
.route p{
  padding: 0.5%;
}
.single-route:hover{
  cursor: pointer;
  text-decoration: underline;
}
.cart-body{
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
}
.left{
  width: 55%;
  min-height: 75%;
  max-height: 75%;
  overflow-y: hidden;
}
.left::-webkit-scrollbar{
  width: 0px;
}
.right{
  width: 35%;
  height: 55%;
}
.default-position, .body h2 {
  text-align: center;
}
.default-position{
  margin-top: 5%;
}
.content{
  max-width: 70%;
}
.image, .title, .content, .button{
  margin:1% 0;
}
.subtotal-info{
  width: 65%;
  display: block;
  margin-top: 8%;
}
.official-price, .discount, .subtotal{
  font-size: 18px;
}
.subtotal{
  font-weight: bold;
  font-size: 20px;
}
.subtotal-info button{
  display: block;
  width: 80%;
  height: 5vh;
}
.subtotal-info button:disabled{
  color: black;
}
.game{
  margin-top: 2%;
  width: 85%;
}
.game-price-quantity{
  gap: 10px;
}
.quantity{
  margin-top: -2vh;
}
.quantity select{
  background-color: #323232;
}
.game-image{
  width: 120px;
  height: 100px;
}
.game-image img{
  height: 90%;
  margin-top: 3%;
  border-radius: 10px;
}
.title p{
  margin-top: 2%;
  font-size: 1.1rem;
}
.trash svg{
  cursor: pointer;
}
.left:hover{
  overflow-y: scroll;
}
.game-title{
  min-width: 30%;
}
.image svg path{
  fill: white;
}
.default-border{
  border: 2px solid black;
}
.border-step{
  border: 2px solid darkorange;
}
.flex-div{
  display: flex;
}
.button-manage{
  background: linear-gradient(to right, orangered, orange);
  border: none;
  border-radius: 7px;
  padding: 0.5vh;
  width: 15%;
}
.button-manage:hover{
  background: linear-gradient(to right, orangered, darkorange);
  cursor: pointer;
}
.content-center{
  justify-content: center;
}
.navigation, .body, .route, .cart-body, .game, .game-price-quantity, .official-price, .discount, .subtotal{
  display: flex;
}
.first-step, .route, .left, .button-manage, .right, .subtotal-info info, .quantity select{
  color: white;
}
.body, .cart-body, .game-price-quantity{
  align-items: center;
}
.body, .content, .game, .subtotal-info, .subtotal-info button{
  margin-left: auto;
  margin-right: auto;
}
.cart-body, .left, .right{
  border-radius: 15px;
}
.left, .right{
  border: 2px solid #3D3D3D;
  background-color: #242424;
}
.game, .official-price, .discount, .subtotal{
  justify-content: space-between;
}
