<div id="exampleModalCenter" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="padding-right: 15px; display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{naslov}}</h5>
      </div>
      <div class="modal-body">
        <p>{{sadrzaj}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="zatvori()">Uredu</button>
      </div>
    </div>
  </div>
</div>
