<div id="exampleModalLive" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 15px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Uredi korisnika</h5>
        <button  class="btn-close" data-bs-dismiss="modal"  aria-label="Close" (click)="zatvori()"></button>
      </div>
      <div class="modal-body">
        <div class="first-inputs" *ngIf="!tranzicija">
          <div>
            <label class="form-label" > Ime: </label>
            <input class="form-control" [(ngModel)]="ime">
          </div>

          <div>
            <label class="form-label" > Prezime: </label>
            <input class="form-control" [(ngModel)]="prezime">
          </div>

          <div>
            <label class="form-label" > Email: </label>
            <input class="form-control" [(ngModel)]="email">
          </div>
        </div>

        <div class="second-inputs" *ngIf="tranzicija">
          <div>
            <label class="form-label" > Lozinka: </label>
            <input type="password" class="form-control" [(ngModel)]="lozinka">
          </div>

          <div>
            <label class="form-label" > Potvrdite lozinka: </label>
            <input type="password" class="form-control" [(ngModel)]="ponovljenaLozinka">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="zatvori()">Odustani</button>
        <button type="button" class="btn btn-primary" (click)="azuriraj();tranzicija=true;priprema()">{{nazivDugmeta}}</button>
      </div>
    </div>
  </div>
</div>
