<div id="exampleModalLive" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: block; padding-right: 15px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Edit user</h5>
        <button  class="btn-close" data-bs-dismiss="modal"  aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="first-inputs" *ngIf="!transition">
          <div>
            <label class="form-label" > Name: </label>
            <input class="form-control" [(ngModel)]="name">
          </div>

          <div>
            <label class="form-label" > Surname: </label>
            <input class="form-control" [(ngModel)]="surname">
          </div>

          <div>
            <label class="form-label" > Email: </label>
            <input class="form-control" [(ngModel)]="email">
          </div>
        </div>

        <div class="second-inputs" *ngIf="transition">
          <div>
            <label class="form-label"  > Password: </label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password">
          </div>

          <div>
            <label class="form-label" > Confirm password: </label>
            <input type="password" class="form-control" id="compassword" [(ngModel)]="confirmedPassword">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Back</button>
        <button type="button" class="btn btn-primary" (click)="UpdateUser();transition=true;prepareToNextPage()">{{buttonText}}</button>
      </div>
    </div>
  </div>
</div>
