<div class="navigation flex-div content-center center-text">
  <div class="first-step ">
    <div class="body align-center flex-div center-div">
      <h2 class="default-border">1</h2>
      <p class="text">Korpa</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="second-step ">
    <div class="body align-center flex-div center-div">
      <h2 class="default-border">2</h2>
      <p class="text">Plaćanje</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="third-step color-white">
    <div class="body align-center flex-div center-div">
      <h2 class="border-step">3</h2>
      <p class="text">Aktivacija igre</p>
    </div>
  </div>
</div>
<div class="notification color-white">
  <h2 class="center-text">Hvala na kupovini!</h2>
  <p class="center-text center-div">Vaša kupovina je uspešno završena. Aktivacijski kodovi za kupljene igre su poslati na vašu email adresu. Proverite svoj inbox (ili spam folder) kako biste pronašli kodove potrebne za aktivaciju.
    <br>Uživajte u igranju!</p>
  <button class="button-manage center-div color-white" routerLink="/">Vrati se na početak</button>
</div>
