.navigation{
  width: 100%;
  justify-content: center;
}
.first-step,.second-step, .third-step{
  width: 20%;
  height: 80px;
}
.body{
  gap: 20px;
  margin-top: 5%;
  align-items: center;
}
.body h2{
  padding: 2%;
  min-width: 50px;
  border-radius: 25px;
}
.default-border{
  border: 2px solid black;
}
.border-step{
  border: 2px solid darkorange;
}
.notification{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notification p{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  max-width: 50%;
}
.button-manage{
  background: linear-gradient(to right, orangered, orange);
  border: none;
  border-radius: 7px;
  padding: 1vh;
  width: 20%;
  display: block;
}
.button-manage:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
.text, .symbol{
  font-size: 1.5rem;
}
.text{
  padding: 1%;
}
.navigation, .body{
  display: flex;
}
.navigation, .notification h2, .notification p
{
  text-align: center;
}
.body, .notification p, .notification button
{
  margin-left: auto;
  margin-right: auto;
}
.third-step, .notification, .button-manage{
  color:white;
}
