<div class="navigation ">
  <div class="first-step ">
    <div class="body">
      <h2 class="default-border">1</h2>
      <p class="text">Cart</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="second-step ">
    <div class="body">
      <h2 class="default-border">2</h2>
      <p class="text">Payment</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="third-step color-white">
    <div class="body">
      <h2 class="border-step">3</h2>
      <p class="text">Game activation</p>
    </div>
  </div>
</div>
<div class="notification">
  <h2>Thank you for your purchase!</h2>
  <p >Your purchase has been successfully completed. Activation codes for purchased games have been sent to your email address. Check your inbox (or spam folder) to find the codes needed for activation.
    <br>Enjoy playing!</p>
  <button class="button-manage" routerLink="/">Go back</button>
</div>
