<div class="route">
  <p routerLink="" class="single-route">Home</p>
  <p>></p>
  <p routerLink="/kupnje" class="single-route">Purchase</p>
</div>
<div class="body background border-color">
  <div class="title">
    <h3>Purchase list</h3>
  </div>
  <table class="table" style="text-align: center">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Purchase date</th>
      <th scope="col">Time</th>
      <th scope="col">User</th>
      <th scope="col">Games</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let k of purchaseResponse">
      <th scope="row">{{k.id}}</th>
      <td>{{k.purchaseDate.substring(0,k.purchaseDate.indexOf('T'))}}</td>
      <td>{{k.purchaseDate.substring(k.purchaseDate.indexOf('T') + 1,k.purchaseDate.indexOf('.'))}}</td>
      <td>{{k.user}}</td>
      <td><button (click)="prepareData(k);showModalOverview = true">Check it out</button></td>
    </tr>
    </tbody>
  </table>
</div>

<app-kupnje-igrice *ngIf="showModalOverview"
(open)="this.openModalOverview($event)"
[gameList]="gameList"></app-kupnje-igrice>
