.container-md{
  margin-top: 13vh;
}
.route p{
  margin: 0.5%;
  cursor: pointer;
}
.route p:hover{
  text-decoration: underline;
}
.container {
  background-color: #242424;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55vh;
  justify-content: space-between;
}
.game-info img{
  max-width: 300px;
  max-height: 200px;
  margin: 5% 0;
}
.game-info, .left{
  width: 30%;
}
.game-info{
  margin-left: 2%;
}
.game-info-more{
  width: 55vh;
}
.bio, .par-review{
  margin-top: 3%
}
.bio{
  max-width: 70%;
  min-width: 70%;
}
.game-price{
  width: 25%;
  height: 60%;
  margin: 1% 3% 0;
}
.original-price{
  text-decoration: line-through;
  font-size: 20px;
  margin: 5% 0 10px 0;
}
.discount {
  font-size: 24px;
  margin-bottom: 10px;
}
.final-price {
  font-size: 28px;
  color: red;
}
.info span{
  margin-left: 2%;
}
.info p{
  font-weight: bold;
}
.par-review{
  min-height: 120px;
  max-height: 120px;
  overflow-y: hidden;
}
.par-review::-webkit-scrollbar{
  width: 0px;
}
.par-review:hover{
  overflow-y: scroll;
}
.review{
  width: 100%;
  justify-content: space-around;
  height: 120px;
}
.left, .right{
  margin-top: 2%;
}
.left img{
  border-radius: 50%;
  display: block;
}
.left p{
  margin-top: 1%;
}
.right{
  width: 70%;
}
.button-manage{
  background: linear-gradient(to right, orangered, orange);
  padding: 1%;
  border: none;
  margin: 1%;
  border-radius: 7px;
}
.button-manage:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
.route, .game-info, .game-info-more, .add-to-cart button, .game-price{
  color: white;
}
.route, .container, .info, .review{
  display: flex;
}
.container, .review, .game-price{
  border: 2px solid #3D3D3D;
}
.game-price, .right, .add-to-cart, .game-info-more h2, .bio, .left p{
  text-align: center;
}
.container, .review{
  align-items: center;
}
.container, .container img, .review, .game-price{
  border-radius: 10px;
}
.review, .game-price{
  background-color: #323232;
}
.left img, .bio{
  margin: 0 auto;
}
