<div class="container-md">
  <div class="route color-white flex-div">
    <p routerLink="/">Početna</p>
    <p>></p>
    <p routerLink="/igrice">Igrice</p>
    <p>></p>
    <p>Detalji igrice</p>
  </div>
</div>
<div class="container border-color align-center border-10 flex-div" *ngFor="let di of detaljiIgrice">
  <div class="game-info color-white">
    <img src="{{di.slika}}" class="border-10">
    <div class="informations">
      <div class="info flex-div">
        <p class="font-bold">Zanr: </p><span>{{di.zanr}}</span>
      </div>
      <div class="info flex-div">
        <p class="font-bold">Izdavac: </p><span>{{di.izdavac}}</span>
      </div>
      <div class="info flex-div">
        <p class="font-bold">Datum izlaska: </p><span>{{di.datumIzlaska.substring(0,di.datumIzlaska.indexOf('T'))}}</span>
      </div>
    </div>
  </div>
  <div class="game-info-more  color-white">
    <h2 class="center-text">{{di.naziv}}</h2>
    <div class="bio center-text center-div">
      <p>{{di.opis}}</p>
    </div>
    <div class="add-to-cart center-text">
      <button (click)="dodajUKorpu(di)" class="color-white button-manage">Dodaj u korpu</button>
      <button (click)="pripremiPodatke(di);prikazFormeZaRecenziju = true" class="color-white button-manage ">Ostavi recenziju</button>
    </div>
    <div class="par-review">
    <div class="review align-center flex-div border-10 border-color background" *ngFor="let r of listaRecenzija">
      <div class="left">
        <img [src]="'data:image/jpeg;base64,' + r.slika" alt="" width="70px" height="70px" class="center-div">
        <p class="center-text font-bold">{{r.korisnickoIme}}</p>
      </div>
      <div class="right center-text">
        <ngb-rating [(rate)]="r.ocjena" style="color: yellow" [readonly]="true"/>
        <p>{{r.sadrzaj}}</p>
      </div>
    </div>
    </div>
  </div>
  <div class="game-price border-color center-text border-10 color-white background">
    <p class="original-price"><span>${{di.cijena}}</span></p>
    <p class="discount">-{{di.postotakAkcije}}%</p>
    <p class="final-price font-bold">${{di.akcijskaCijena}}</p>
  </div>
</div>
<app-recenzija *ngIf="prikazFormeZaRecenziju"
(otvori)="otvaranjeFormeZaRecenziju($event)"
[igricaID]="igricaID"></app-recenzija>
