<div class="body" *ngFor="let oi of odabranaIgrica">
  <img [src]="oi.slika" alt="">
  <div class="section">
    <select [(ngModel)]="ngIgricaID" (change)="ucitajOabranuIgricu()" *ngIf="authService.jelAdmin()">
      <option *ngFor="let i of listaIgrica" [value]="i.id">{{i.naziv}}</option>
    </select>
  </div>
  <div class="informations" >
    <h1>{{oi.naziv}}</h1>
    <div class="details">
      <div class="discount">-{{oi.postotakAkcije}}%</div>
      <div class="cijena">
        <h3>${{oi.cijena.toFixed(2)}}</h3>
      </div>
    </div>
  </div>
</div>
