<div class="body" *ngFor="let oi of odabranaIgrica">
  <img [src]="oi.photo" alt="">
  <div class="section">
    <select [(ngModel)]="ngGameID" (change)="listCheckedGame()" *ngIf="authService.jelAdmin()">
      <option *ngFor="let i of gameList" [value]="i.id">{{i.name}}</option>
    </select>
  </div>
  <div class="informations" >
    <h1>{{oi.name}}</h1>
    <div class="details">
      <div class="discount">-{{oi.percentageDiscount}}%</div>
      <div class="price">
        <h3>${{oi.actionPrice.toFixed(2)}}</h3>
      </div>
    </div>
  </div>
</div>

