<div class="container-md">
  <div class="route ">
    <p routerLink="/">Home</p>
    <p>></p>
    <p routerLink="/igrice">Games</p>
    <p>></p>
    <p>Game details</p>
  </div>
</div>
<div class="container" *ngFor="let di of gameDetails">
  <div class="game-info ">
    <img src="{{di.photo}}">
    <div class="informations">
      <div class="info ">
        <p>Genre: </p><span>{{di.genre}}</span>
      </div>
      <div class="info ">
        <p>Publisher: </p><span>{{di.publisher}}</span>
      </div>
      <div class="info ">
        <p>Release date: </p><span>{{di.releaseDate.substring(0,di.releaseDate.indexOf('T'))}}</span>
      </div>
    </div>
  </div>
  <div class="game-info-more">
    <h2 class="">{{di.name}}</h2>
    <div class="bio">
      <p>{{di.description}}</p>
    </div>
    <div class="add-to-cart ">
      <button (click)="authService.disableShoppingCart();addToCart(di)" class=" button-manage">Add to cart</button>
      <button (click)="prepareData(di);showReviewModal = true" class=" button-manage" *ngIf="conditionReview">Leave review</button>
    </div>
    <div class="par-review">
    <div class="review" *ngFor="let r of listOfReviews">
      <div class="left">
        <img *ngIf="r.photoBytes" [src]="'data:image/jpeg;base64,' + r.photoBytes" alt="" width="70px" height="70px">
        <img *ngIf="r.googlePhoto" src="{{r.googlePhoto}}" alt="" srcset="" width="70px" height="70px">
        <p class=" font-bold">{{r.username}}</p>
      </div>
      <div class="right ">
        <ngb-rating [(rate)]="r.grade" style="color: yellow" [readonly]="true"/>
        <p>{{r.content}}</p>
      </div>
    </div>
    </div>
  </div>
  <div class="game-price">
    <p class="original-price"><span>${{di.price}}</span></p>
    <p class="discount">-{{di.percentageDiscount}}%</p>
    <p class="final-price font-bold">${{di.actionPrice}}</p>
  </div>
</div>
<app-recenzija *ngIf="showReviewModal"
(open)="openReviewModal($event)"
[gameID]="gameID"></app-recenzija>
