<div class="navigation">
  <div class="first-step ">
    <div class="body">
      <h2 class="default-border">1</h2>
      <p class="text">Cart</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="second-step color-white">
    <div class="body">
      <h2 class="border-step">2</h2>
      <p class="text">Payment</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="third-step">
    <div class="body">
      <h2 class="default-border">3</h2>
      <p class="text">Game activation</p>
    </div>
  </div>
</div>
<div class="route">
  <p routerLink="" class="single-route">Home</p>
  <p>></p>
  <p routerLink="/korpa" class="single-route">Cart</p>
  <p>></p>
  <p routerLink="/placanje" class="single-route">Payment</p>
</div>
<div class="cart-body">
  <div class="left">
    <div class="userCards">
    <div class="form-check " *ngFor="let uc of cardsGetByUser.slice(-3); let i = index">
      <input type="checkbox" [checked]="selectedIndex === i" (change)="onCheckboxChange(i)" class="form-check-input " id="exampleCheck12">
      <p>**** **** **** {{uc.cardNumber}}</p>
    </div>
    </div>
    <form [formGroup]="userPayment">
      <div class="form-group ">
        <label for="brojKartice">Card number</label>
        <input type="text" class="form-control" id="brojKartice" formControlName="brojKartice" placeholder="•••• •••• •••• ••••" (input)="disableLetters($event)" [ngStyle]="setStyle('brojKartice')" maxlength="16" [(ngModel)]="ngCardNumber">
      </div>
      <div class="form-group">
        <label for="imeprezime">Name and Surname</label>
        <input type="text" class="form-control" id="imeprezime" formControlName="imePrezime" placeholder="Ime Prezime" (input)="disableNumbers($event)" [ngStyle]="setStyle('imePrezime')">
      </div>
      <div class="split-inputs ">
        <div class="form-group">
          <label for="datumIsteka">Expiration date</label>
          <input type="date" class="form-control " id="datumIsteka" formControlName="datumIsteka" [ngStyle]="setStyle('datumIsteka')" [(ngModel)]="ngExpirationDate">
        </div>
        <div class="form-group">
          <label for="sigurnosniBroj">CVC</label>
          <input type="text" class="form-control " id="sigurnosniBroj" placeholder="CVC" formControlName="sigurnosniBroj" [ngStyle]="setStyle('sigurnosniBroj')">
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input " id="exampleCheck1" [disabled]="rememberStatus">
        <label class="form-check-label" for="exampleCheck1">Remember card</label>
      </div>
    </form>

  </div>
  <div class="right ">
    <div class="total">
      <p>Total:</p>
      <span>${{total.toFixed(2)}}</span>
    </div>
    <button class="pay-button button-manage" (click)="payment()">Pay</button>
    <p class="rules">By clicking "Pay", we confirm that I have read and accepted the terms and privacy policy.</p>
  </div>
</div>
