<div class="navigation">
  <div class="first-step ">
    <div class="body">
      <h2 class="default-border">1</h2>
      <p class="text">Cart</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="second-step color-white">
    <div class="body">
      <h2 class="border-step">2</h2>
      <p class="text">Payment</p>
      <p class="symbol">&#10230;</p>
    </div>
  </div>
  <div class="third-step">
    <div class="body">
      <h2 class="default-border">3</h2>
      <p class="text">Game activation</p>
    </div>
  </div>
</div>
<div class="route">
  <p routerLink="" class="single-route">Home</p>
  <p>></p>
  <p routerLink="/korpa" class="single-route">Cart</p>
  <p>></p>
  <p routerLink="/placanje" class="single-route">Payment</p>
</div>
<div class="cart-body">
  <div class="right">
    <div class="total">
      <p>Total:</p>
      <span>${{total.toFixed(2)}}</span>
    </div>
    <app-paypal [amount]="Number(total)"
    (triggerCreatePurchase)="createPurchase()"></app-paypal>
    
    <p class="rules">By clicking "Pay", we confirm that I have read and accepted the terms and privacy policy.</p>
  </div>
</div>
