.navigation{
  width: 100%;
  justify-content: center;
}
.first-step,.second-step, .third-step{
  width: 20%;
  height: 80px;
}
.body{
  gap: 20px;
  margin-top: 5%;
  align-items: center;
}
.body h2{
  padding: 2%;
  min-width: 50px;
  border-radius: 25px;
  text-align: center;
}
.route{
  margin:5vh 0 0 20vh;
}
.route p{
  padding: 0.5%;
}
.single-route:hover{
  cursor: pointer;
  text-decoration: underline;
}
.cart-body{
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  align-items: center;
}
.left{
  width: 55%;
  min-height: 75%;
  max-height: 75%;
  overflow-y: hidden;
}
.right{
  width: 35%;
  height: 55%;
}
form{
  width: 80%;
  margin-top: 2vh;
  position: relative;
}
.split-inputs .form-group{
  width: 48%;
}
.form-group label{
  padding: 0.5% 0;
}
.form-group input{
  margin:0.5% 0;
}
.form-group input:hover{
  border: 2px solid darkorange;
}
.form-group input::placeholder{
  color: white;
}
.form-check{
  margin-top: 1.5%;
}
.total{
  font-weight: bold;
  font-size: 20px;
  margin-top: 5vh;
  width: 85%;
}
.pay-button{
  display: block;
  width: 65%;
  margin-top: 1.5%;
  padding:2%;
}
.rules{
  margin-top: 2%;
  text-align: center;
  max-width: 80%;
}
.back{
  position: absolute;
  right: 2px;
  cursor: pointer;
}
.default-border{
  border: 2px solid black;
}
.border-step{
  border: 2px solid darkorange;
}

.button-manage{
  background: linear-gradient(to right, orangered, orange);
  border: none;
  border-radius: 7px;
}
.button-manage:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
.navigation, .body, .route, .cart-body, .split-inputs, .total, .userCards{
  display: flex;
}
.body, .cart-body form, .total, .navigation, .pay-button, .rules{
  margin-left: auto;
  margin-right: auto;
}
.right, .left, .cart-body{
  border-radius: 15px;
}
.left, .right{
  background-color: #242424;

}
.left, .right, .form-group input, .form-check input{
  border: 2px solid #3D3D3D;
}
.right, .form-group input, .route, .second-step, .left form, .userCards p{
  color:white;
}
.form-group input, .form-check input{
  background-color: #323232;
}
.split-inputs, .total{
  justify-content: space-between;
}
.userCards{
  margin-left: 10%;
  flex-direction: row;
  gap: 20px;
  margin-top: 2%;
}
