<div class="route">
  <p routerLink="" class="single-route">Home</p>
  <p>></p>
  <p routerLink="/admin" class="single-route">Admin</p>
</div>
<div class="main">
  <div class="left-side" *ngFor="let ap of adminData">
    <div class="photo">
      <img [src]="'data:image/jpeg;base64,' + ap.photoBytes" alt="" srcset=""><form (submit)="onSubmit()" enctype="multipart/form-data">
      <input type="file" (change)="onFileSelected($event)" accept="image/*"/>
      <button type="submit">Update photo</button>
    </form>
    </div>
    <div class="user-info">
      <div class="user">
        <h3 style="text-align: center">{{ap.name}} {{ap.surname}}</h3>
      </div>
      <hr>
      <div class="username">
        <p>Username:</p>
        <p>{{ap.username}}</p>
      </div>
      <hr>
      <div class="email">
        <p>Email:</p>
        <p>{{ap.email}}</p>
      </div>
      <hr>
    </div>
  </div>
  <div class="right-side">
    <div class="title">
      <h2 style="text-align: center">List of users</h2>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lk of listOfUsers">
        <th scope="row">{{lk.id}}</th>
        <td>{{lk.name}}</td>
        <td>{{lk.surname}}</td>
        <td>{{lk.username}}</td>
        <td>{{lk.email}}</td>
        <td><button (click)="deleteUser(lk)">Delete</button><button (click)="blacklistUser(lk)">Blacklist</button></td>
      </tr>
      </tbody>
    </table>
    <div class="title">
      <h2 style="text-align: center">Black list of users</h2>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cl of blackList">
        <th scope="row">{{cl.id}}</th>
        <td>{{cl.name}}</td>
        <td>{{cl.surname}}</td>
        <td>{{cl.username}}</td>
        <td>{{cl.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
