.route{
  margin-left: 20vh;
  margin-top: 7vh;
}
.route p{
  padding: 0.5%;
}
.single-route:hover{
  cursor: pointer;
  text-decoration: underline;
}
.main{
  width: 80%;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
  align-items: center;
}
.left-side{
  width: 30%;
  height: 95%;
  border-radius: 15px;
}
.photo img{
  width: 15vh;
  height: 15vh;
  margin-top: 5%;
  display: block;
  border-radius: 50%;
}
.left-side form{
  display: none;
}
.photo:hover form{
  display: block;
}
.right-side {
  width: 60%;
  height: 95%;
  overflow-y: hidden;
}
.right-side::-webkit-scrollbar{
  width: 0px;
}
.user-info{
  margin-top: 2vh;
  width: 90%;
  color: #ffffff;
}
.username, .email{
  justify-content: space-between;
}
.username p, .email p{
  margin: 0 2%;
}
.customTable{
  max-width: 90%;
  margin-top: 3%;
}
.title{
  margin-top: 4vh;
}
.right-side:hover{
  overflow-y: scroll;
}
.color-white{
  color: white;
}
.flex-div{
  display: flex;
}
.center-div{
  margin-left:auto;
  margin-right: auto;
}
.border-15{
  border-radius: 15px;
}
.content-between{
  justify-content: space-between;
}
.border-color{
  border: 1px solid gray;
}
.primary-background{
  background-color: #323232;
}
.background{
  background-color: #242424;
}
.border-color{
  border: 2px solid #3D3D3D;
}
.button-manage{
  margin: 2% 0 0 7%;
  background: linear-gradient(to right, orangered, orange);
  border: none;
  border-radius: 7px;
  width: 10%;
  padding: 0.3vh
}
.button-manage:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
