<div class="route">
  <p routerLink="" class="single-route">Početna</p>
  <p>></p>
  <p routerLink="/admin" class="single-route">Admin</p>
</div>
<div class="main">
  <div class="left-side">
    <div class="photo">
      <img>
    </div>
    <form enctype="multipart/form-data">
      <input type="file" accept="image/*" />
      <button type="submit">Ažuriraj sliku</button>
    </form>
    <div class="user-info">
      <div class="user">
        <h3 style="text-align: center">Admir Jareb</h3>
      </div>
      <hr>
      <div class="username">
        <p>Korisničko ime:</p>
        <p>NESTO</p>
      </div>
      <hr>
      <div class="email">
        <p>Email:</p>
        <p>nesto.nesto#gmail.com</p>
      </div>
      <hr>
    </div>
  </div>
  <div class="right-side">
    <div class="title">
      <h2 style="text-align: center">Lista korisnika</h2>
    </div>
    <table class="table customTable" >
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Korisnicko ime</th>
        <th scope="col">Email</th>
        <th scope="col">Akcija</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lk of listaKorisnika">
        <th scope="row">{{lk.id}}</th>
        <td>{{lk.ime}}</td>
        <td>{{lk.prezime}}</td>
        <td>{{lk.korisnickoIme}}</td>
        <td>{{lk.email}}</td>
        <td><button (click)="obrisiKorisnika(lk)">Obrisi</button><button (click)="crnaListaKorisnika(lk)">Crna lista</button></td>
      </tr>
      </tbody>
    </table>
    <div class="title">
      <h2 style="text-align: center">Crna lista korisnika</h2>
    </div>
    <table class="table customTable">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Korisnicko ime</th>
        <th scope="col">Email</th>
        <th scope="col">Akcija</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
