<div class="fluid-container ">
  <div class="left-container ">
    <div class="container-route">
      <p routerLink="">Home</p>
      <p>></p>
      <p routerLink="/registracija">Registration</p>
    </div>
    <div class="registration-form">
        <form [formGroup]="userForm">
          <h2>Register</h2>
          <div class="form-inputs">
            <div class="left-side">
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="Name" formControlName="ime" [ngbTooltip]="tipContentIme" placement="top" [ngStyle]="setStyle('ime')">
                <ng-template #tipContentIme>Your name must be at least 4 characters long, including an uppercase letter.</ng-template>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" formControlName="prezime" [ngbTooltip]="tipContentPrezime" placement="bottom" [ngStyle]="setStyle('prezime')">
                <ng-template #tipContentPrezime>Your last name must be at least 4 characters long, including a capital letter.</ng-template>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" formControlName="korisnickoIme" [ngStyle]="setStyle('korisnickoIme')">
              </div>
            </div>
            <div class="right-side">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngStyle]="setStyle('email')">
              </div>
              <div class="form-group">
                <input type="date" class="form-control" formControlName="datumRodjenja" [ngStyle]="setStyle('datumRodjenja')">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [ngbTooltip]="tipContent" placement="right-bottom" formControlName="lozinka" [ngStyle]="setStyle('lozinka')">
                <ng-template #tipContent>Your password must be at least 7 characters long, including upper and lower case letters and numbers.</ng-template>
              </div>
            </div>
          </div>
          <button type="button" class="reg-button center-div" (click)="createUser()">Register</button>
        </form>
    </div>
  </div>
  <div class="right-container bg-image">
  </div>
</div>
