<div class="route ">
  <p routerLink="" class="single-route">Home</p>
  <p>></p>
  <p routerLink="/korisnik" class="single-route">User</p>
</div>
<div class="main background " *ngFor="let k of dataLoggedUser">
  <div class="left-side ">
    <div class="photo">
      <img *ngIf="!authService.isGoogleProvider()" [src]="'data:image/jpeg;base64,' + k.photoBytes" alt="" srcset="" >
      <img *ngIf="authService.isGoogleProvider()" [src]="k.googlePhoto" alt="" srcset="">
      <form (submit)="onSubmit()" enctype="multipart/form-data" class="" *ngIf="!authService.isGoogleProvider()">
        <input type="file" (change)="onFileSelected($event)" accept="image/*"/>
        <button type="submit" >Update photo</button>
      </form>
    </div>
    <div class="user-info ">
      <hr>
      <div class="order-num  ">
        <p>Number of purchases:</p>
        <p>{{k.numberOfPurchase}}</p>
      </div>
      <hr>
      <div class="user-status ">
        <p>Status: </p>
        <p>User</p>
      </div>
      <hr>
    </div>
  </div>
  <div class="right-side ">
    <div class="title ">
      <h2>Welcome to your account</h2>
    </div>
    <div class="text ">
      <p>Account settings</p>
      <hr>
    </div>
    <div class="user-inputs   ">
      <div class="left-inputs">
        <div class="form-group">
          <label for="ime">Name</label>
          <input type="text" class="form-control  background " id="ime" disabled [value]="k.name">
        </div>
        <div class="form-group" *ngIf="!authService.isGoogleProvider()">
          <label for="prezime">Surname</label>
          <input type="text" class="form-control  background " id="prezime" disabled [value]="k.surname">
        </div>
        <div class="form-group" *ngIf="!authService.isGoogleProvider()">
          <label for="korisnickoime">Username</label>
          <input type="text" class="form-control  background " id="korisnickoime" disabled [value]="k.username">
        </div>
      </div>
      <div class="right-inputs">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control  background " id="email" disabled [value]="k.email">
        </div>
        <div class="form-group" *ngIf="!authService.isGoogleProvider()">
          <label for="datumRodjenja">Date of birth</label>
          <input type="text" class="form-control  background " id="datumRodjenja" disabled [value]="k.dateBirth.substring(0,k.dateBirth.indexOf('T'))">
        </div>
      </div>
    </div>
    <button class=" button-manage" (click)="prepareData(k);showDialogEdit = true" [disabled]="authService.isGoogleProvider()">Change</button>
  </div>
</div>

<app-uredi-korisnika *ngIf="showDialogEdit"
(open)="this.openEditDialog($event)"
[name] = "preparedLoggedUserData!.name"
[surname]="preparedLoggedUserData!.surname"
[email]="preparedLoggedUserData!.email"></app-uredi-korisnika>
