
.bg-image{
  background-image: url("https://images.alphacoders.com/210/210941.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-route{
  margin-left: 10%;
  margin-top: 15%;
}
.container-route p{
  margin: 0.5%;
  cursor: pointer;
  color: white;
}
.container-route p:hover{
  text-decoration: underline;
}
form{
  margin-top: 10%;
}
form h2{
  margin-left: calc(20%);
}
.form-group input{
  padding: 1%;
  max-width: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #242424;
  border: 2px solid #3D3D3D;
}
.form-group input::placeholder{
  color: white;
}
.form-group input:hover{
  border: 2px solid orangered;
}
.login-button{
  display: block;
  width: 50%;
  border-radius: 6px;
  padding: 1.5%;
  border: 0px;
  background: linear-gradient(to right, orangered, orange);
}
.login-button:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
.account-option{
  justify-content: space-between;
  margin-top: 1.2%;
  width: 50%;
}
.account-option p{
  cursor: pointer;
}
.OAuth2{
  margin:2% 0 0 25%;
}
.fluid-container, .container-route, .account-option{
  display: flex;
}
.left-container, .right-container{
  width: 50%;
  height: 100vh;
}
form h2, form-control, .login-button, .account-option, .form-group input{
  color: white;
}
.form-group input, .login-button, .account-option{
  margin-left: auto;
  margin-right: auto;
}
