<div class="fluid-container">
  <div class="left-container container-dimensions">
    <div class="container-route">
      <p routerLink="">Početna</p>
      <p>></p>
      <p routerLink="/prijava">Prijava</p>
    </div>
    <div class="login-forma">
      <form>
        <h2>Prijavi se</h2>
        <div class="form-inputs">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Korisnicko ime" [(ngModel)]="korisnickoIme" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lozinka" [(ngModel)]="lozinka" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <button type="submit" class="login-button" (click)="prijaviSe()">Prijavi se</button>
        <div class="account-option">
          <div class="account-reg">
            <p>Nemate još nalog?</p>
          </div>
          <div class="account-pass">
            <p>Zaboravili ste lozinku?</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="right-container container-dimensions bg-image">
  </div>
</div>
