.container-dimensions{
  width: 50%;
  height: 100vh;
}
.bg-image{
  background-image: url("https://images.alphacoders.com/210/210941.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-route p{
  margin: 0.5%;
  cursor: pointer;
}
.container-route p:hover{
  text-decoration: underline;
}
.form-inputs{
  width: 100%;
  align-items: center;
  justify-content: center;
}
.left-side,.right-side{
  width: 30vh;
  margin: 2%;
}
.form-group input{
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #242424;
  border: 2px solid #3D3D3D;
}
.form-group input::placeholder{
  color: white;
}
.form-group input:hover{
  border: 2px solid orangered;
}
.reg-button{
  display: block;
  width: 50%;
  border-radius: 6px;
  padding: 1.5%;
  border: 0px;
  background: linear-gradient(to right, orangered, orange);
}

.reg-button:hover{
  background: linear-gradient(to right, orangered, darkorange);
}
form h2{
  margin-left: calc(20%);
}
.container-route{
  margin-left: 10%;
  margin-top: 15%;
}
form{
  margin-top: 10%;
}
.color-white{
  color: white;
}
.flex-div{
  display: flex;
}
.center-div{
  margin-left:auto;
  margin-right: auto;
}
