<h4>Reviews ></h4>
<div class="reviews-div">
  <div class="card  border-color" style="width: 18rem" *ngFor="let lr of listOfReviews.slice().reverse()">
    <img [src]="'data:image/jpeg;base64,' + lr.photoBytes" class="card-img-top card-image">
    <div class="card-body">
      <div class="rating">
        <ngb-rating [(rate)]="lr.grade" [readonly]="true"/>
      </div>
      <h5 class="card-title" style="text-align: center">{{lr.game}}</h5>
      <p class="card-text">{{lr.content}}</p>
    </div>
  </div>
</div>
