.game-panel, .game-grid{
  width: 90%;
}
.game-panel{
  min-height: 100vh;
}
.route p{
  margin: 0.5%;
}
.container-route p:hover, .category-filter p:hover{
  text-decoration: underline;
}
.game-grid{
  height: 80vh;
  justify-content: center;
}
.game-grid{
  flex-wrap: wrap;
}
.game-item, .game-add{
  width: 30%;
}
.game-item{
  position: relative;
  margin: 1%;
}
.game-item img{
  width: 100%;
  border-radius: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 25vh;
  transition: transform 0.3s ease;
}
.discount{
  width: 50px;
  height: 25px;
  background-color: darkorange;
  position: absolute;
  top: 0;
  border-radius: 10px 12px 8px 0;
  font-weight: bold;
  transition: opacity 0.5s ease;
}
.title{
  margin-bottom: 2%;
}
.details{
  margin-top: 1%;
}
.price{
  font-weight: bold;
}
.game-item img:hover ~ .discount{
  opacity: 0;
  transition: opacity 0.5s ease;
}
.category-filter{
  padding: 0.5%;
}
.lastPrice{
  margin-left: 1%;
}
.price-rangne input{
  min-width: 100%;
}
.filter-grid{
  align-items: center;
}
.game-control{
  position: absolute;
  right: 5px;
}
.game-add{
  height: 30%;
  margin: 1%;
  border:1px solid white;
  transition: transform 0.3s ease;
}
.inputs{
  padding: 0.5vh;
  background-color: #242424;
  border: 2px solid #3D3D3D;
}
.icon{
  font-size: 5em;
}
.transition:hover{
  transform: scale(1.04);
  transition: transform 0.3s ease;
}
.game-panel, .category-filter, .filter-grid, .game-grid{
  margin: auto;
}
.route, .filter-grid, .price-range, .game-grid, .details, .category-filter{
  display: flex;
}
.route, .title, .category-filter, .filter-grid, .filter-grid input, .sorting select, .game-grid, .details, .price{
  color: white;
}
.category-filter, .filter-grid, .details{
  justify-content: space-between;
}
.category-filter, .filter-grid{
  width: 80%;
}
.category-filter, .route p, .game-add, .game-item img{
  cursor:pointer;
}
.firstPrice p, .firstPrice input, .lastPrice input, .lastPrice p{
  text-align: center;
}
.firstPrice input, .lastPrice input, .sorting select{
  padding: 0.5vh;
  background-color: #242424;
  border: 2px solid #3D3D3D;
}
.firstPrice input, .lastPrice input, .game-add, .game-item, .game-control button{
  border-radius: 10px
}
.game-add, .discount, .lastPrice p{
  text-align: center;
}
