.game-panel, .game-grid{
  width: 90%;
}
.game-panel{
  min-height: 100vh;
}
.route p{
  margin: 0.5%;
}
.container-route p:hover, .category-filter p:hover{
  text-decoration: underline;
}
.game-grid{
  height: 80vh;
  justify-content: center;
}
.game-grid{
  flex-wrap: wrap;
}
.game-item, .game-add{
  width: 30%;
}
.game-item{
  position: relative;
  margin: 1%;
}
.game-item img{
  width: 100%;
  border-radius: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 25vh;
  transition: transform 0.3s ease;
}
.discount{
  width: 50px;
  height: 25px;
  background-color: darkorange;
  position: absolute;
  top: 0;
  border-radius: 10px 12px 8px 0;
  font-weight: bold;
  transition: opacity 0.5s ease;
}
.title{
  margin-bottom: 2%;
}
.details{
  margin-top: 1%;
}
.price{
  font-weight: bold;
}
.game-item img:hover ~ .discount{
  opacity: 0;
  transition: opacity 0.5s ease;
}
.category-filter{
  padding: 0.5%;
}
.lastPrice{
  margin-left: 1%;
}
.price-rangne input{
  min-width: 100%;
}
.filter-grid{
  align-items: center;
}
.game-control{
  position: absolute;
  right: 5px;
}
.game-add{
  height: 30%;
  margin: 1%;
  border:1px solid white;
  transition: transform 0.3s ease;
}
.inputs{
  padding: 0.5vh;
  background-color: #242424;
  border: 2px solid #3D3D3D;
}
.icon{
  font-size: 5em;
}
.color-white{
  color: white;
}
.flex-div{
  display: flex;
}
.center-div{
  margin-left: auto;
  margin-right: auto;
}
.content-between{
  justify-content: space-between;
}
.center-text{
  text-align: center;
}
.cursor-pointer:hover{
  cursor: pointer;
}
.margin-auto{
  margin: auto;
}
.transition:hover{
  transform: scale(1.04);
  transition: transform 0.3s ease;
}
.border-10{
  border-radius: 10px;
}
.w-80{
  width: 80%;
}
