<div class="game-panel">
  <div class="route">
    <p routerLink="/">Početna</p>
    <p>></p>
    <p routerLink="/igrice">Igrice</p>
  </div>
  <div class="title">
    <h2 style="text-align: center">Igrice</h2>
  </div>
  <div class="category-filter" >
    <p (click)="zanr=0;filter2(0,pocetnaCijena,zavrsnaCijena,sort)">Sve</p>
    <div class="category" *ngFor="let lz of listaZanrova">
      <p (click)="uzmiZanr(lz);filter2(zanr,pocetnaCijena,zavrsnaCijena,sort)">{{lz.naziv}}</p>
    </div>
  </div>
  <div class="filter-grid">
    <div class="price-rangne">
      <div class="firstPrice">
        <p>Min</p>
        <input type="number" id="pocetna" (change)="filter2(zanr,pocetnaCijena,zavrsnaCijena,sort)" [value]="pocetnaCijena" [(ngModel)]="pocetnaCijena" min="1" [max]="zavrsnaCijena">
      </div>
      <div class="lastPrice">
        <p>Max</p>
        <input type="number" id="zavrsna" (change)="filter2(zanr,pocetnaCijena,zavrsnaCijena,sort)" [value]="zavrsnaCijena" [(ngModel)]="zavrsnaCijena" [min]="pocetnaCijena + 1" max="250">
      </div>
    </div>
    <div class="sorting">
      <select id="sort" (change)="test();filter2(zanr,pocetnaCijena,zavrsnaCijena,sort)">
        <option selected>Relevantno</option>
        <option value="asc" >Naziv: A - Z</option>
        <option value="desc">Naziv: Z - A</option>
      </select>
    </div>
  </div>
  <div class="game-grid">
    <div class="game-add" (click)="prikazDodaj = true" *ngIf="authService.jelAdmin()">
      <p class="icon">&#43;</p>
      <div class="title">
        <p>Dodaj novu igricu</p>
      </div>
    </div>
      <div class="game-item" *ngFor="let li of listaIgrica">
        <div class="game-control" *ngIf="authService.jelAdmin()">
          <button (click)="pripremiPodatke(li);prikazUredi = true">Uredi</button>
          <button (click)="obirisiIgricu(li)">Obrisi</button>
          <button (click)="izdvojiIgricu(li)">Izdvoji</button>
        </div>
        <img src="{{li.slika}}" alt="" (click)="idiUDetalje(li)">
        <div class="discount">-{{li.postotakAkcije}}%</div>
        <div class="details">
          <p>{{li.naziv}}</p>
          <p class="price">${{li.akcijskaCijena}}</p>
        </div>
      </div>
  </div>
</div>

<app-uredi-igricu *ngIf="prikazUredi"
                  (otvori)="this.otvaranjeUredi($event)"
                  [igricaID]="odabranaIgrica!.igricaID"
                  [naziv]="odabranaIgrica!.naziv"
                  [zanrID]="odabranaIgrica!.zanrID"
                  [datumIzlaska]="odabranaIgrica!.datumIzlaska"
                  [slika]="odabranaIgrica!.slika"
                  [izdavac]="odabranaIgrica!.izdavac"
                  [opis]="odabranaIgrica!.opis"
                  [cijena]="odabranaIgrica!.cijena"
                  [postotakAkcije]="odabranaIgrica!.postotakAkcije"
></app-uredi-igricu>

<app-dodaj-igricu *ngIf="prikazDodaj"
                  (otvori)="this.otvaranjeDodaj($event)"
></app-dodaj-igricu>
