<div class="game-panel ">
  <div class="route">
    <p routerLink="/">Home</p>
    <p>></p>
    <p routerLink="/igrice">Games</p>
  </div>
  <div class="title">
    <h2 style="text-align: center">Games</h2>
  </div>
  <div class="category-filter">
    <p (click)="genre=0;filter2(0,firstPrice,lastPrice,sort)">All</p>
    <div class="category" *ngFor="let lz of genreList">
      <p (click)="handleGenre(lz);filter2(genre,firstPrice,lastPrice,sort)">{{lz.name}}</p>
    </div>
  </div>
  <div class="filter-grid">
    <div class="price-range">
      <div class="firstPrice">
        <p>Min</p>
        <input type="number" id="pocetna" (change)="filter2(genre,firstPrice,lastPrice,sort)" [value]="firstPrice" [(ngModel)]="firstPrice" min="1" [max]="lastPrice">
      </div>
      <div class="lastPrice">
        <p class="">Max</p>
        <input type="number" id="zavrsna"  (change)="filter2(genre,firstPrice,lastPrice,sort)" [value]="lastPrice" [(ngModel)]="lastPrice" [min]="firstPrice + 1" max="250">
      </div>
    </div>
    <div class="sorting">
      <select id="sort" class="inputs" (change)="test();filter2(genre,firstPrice,lastPrice,sort)">
        <option selected>Relevant</option>
        <option value="asc" >Name: A - Z</option>
        <option value="desc">Name: Z - A</option>
      </select>
    </div>
  </div>
  <div class="game-grid">
    <div class="game-add transition" (click)="showModalAdd = true" *ngIf="authService.isAdmin()">
      <p class="icon">&#43;</p>
      <div class="title">
        <p>Add new game</p>
      </div>
    </div>
      <div class="game-item" *ngFor="let li of gameList">
        <div class="game-control" *ngIf="authService.isAdmin()">
          <button (click)="prepareData(li);showModalEdit = true">Edit</button>
          <button (click)="deleteGame(li)">Delete</button>
          <button (click)="highlightGame(li)" >Highlight</button>
        </div>
        <img src="{{li.photo}}" alt="" (click)="goToDetails(li)" class="transition">
        <div class="discount">-{{li.percentageDiscount}}%</div>
        <div class="details">
          <p>{{li.name}}</p>
          <p class="price ">${{li.actionPrice}}</p>
        </div>
      </div>
  </div>
</div>

<app-uredi-igricu *ngIf="showModalEdit"
                  (open)="this.openModalEdit($event)"
                  [gameID]="selectedGame!.gameID"
                  [name]="selectedGame!.name"
                  [genreID]="selectedGame!.genreID"
                  [releaseDate]="selectedGame!.releaseDate"
                  [photo]="selectedGame!.photo"
                  [publisher]="selectedGame!.publisher"
                  [description]="selectedGame!.description"
                  [price]="selectedGame!.price"
                  [percentageDiscount]="selectedGame!.percentageDiscount"
></app-uredi-igricu>

<app-dodaj-igricu *ngIf="showModalAdd"
                  (open)="this.openModalAdd($event)"
></app-dodaj-igricu>
