.logo img{
  width: 80px;
  height: 70px;
  margin-top: 1%;
  margin-left: 1%;
}
.user{
  display: flex;
  gap: 15px;
  position: absolute;
  right: 5vh;
  margin-top: 1.5vh;
  cursor: pointer;
}
.text p{
  font-size: 25px;
}
.searchbar input{
  padding: 2%;
  width: 60vh;
  border-radius: 10px;
  border: none;
  margin-top: 1vh;
}
.col{
  background-color: aliceblue;
}
.results{
  margin-top: 1%;
  min-width: 29%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
}
.games{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}
.left{
  display: flex;
}
.left img{
  width: 8vh;
  height: 8vh;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 2%;
}
.title{
  margin-left: 3%;
  min-width: 40%;
}
.right{
  margin-right: 1%;
}
.right p{
  margin: 0;
  padding: 0;
}
.original-price p{
  text-decoration: line-through;
  font-size: 24px;
}
.final-price p{
  font-size: 18px;
  text-align: center;
}
.discount p{
  color: red;
  border: 1px solid red;
  padding: 1%;
  text-align: center;
}
#exampleModalLive{
  background-color: black;
}
.navigation p{
  text-align: center;
  margin:0;
  padding: 1%;
}
.navigation{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}
.navigation p:hover{
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
.odjava{
  display: none;
}
.user:hover .odjava{
  display: block;
}
