<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="logo">
        <img src="https://static.vecteezy.com/system/resources/previews/007/131/902/non_2x/game-shop-with-bag-logo-concept-icon-gaming-or-symbol-logo-free-vector.jpg" alt="">
      </div>
    </div>
    <div class="col">
      <div class="searchbar">
        <input type="text" (input)="ucitajIgrice($event)">
        <div class="results" *ngIf="statusModal">
          <div class="games" *ngFor="let li of listaIgrica" (click)="idiNaRutu(li)">
            <div class="left">
              <img src="{{li.slika}}" alt="" width="20px" height="20px">
              <div class="title">
                <h3>{{li.naziv}}</h3>
              </div>
            </div>
            <div class="right">
              <div class="original-price"> <p>${{li.cijena}}</p> </div>
              <div class="final-price"> <p>${{li.akcijskaCijena}}</p> </div>
              <div class="discount"> <p>-{{li.postotakAkcije}}%</p> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="user" (click)="idiNaStranicu()">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </div>
        <div class="text">
          <p>{{ime}}</p>
        </div>
       <div class="odjava" *ngIf="authService.jelLogiran()">
         <button (click)="odjaviSe()">Odjava</button>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="navigation">
  <p routerLink="/igrice">Igrice</p>
  <p routerLink="/kontakt">Kontakt</p>
</div>
<app-sedmicna-ponuda></app-sedmicna-ponuda>

